<div class="container container-fluid">
<h3 class="text-center"> User Details </h3>
<table class="table table-hover" style="border-radius: 1px;">
    <tr>
        <td ><b>First name</b></td>
        <td>{{i.firstName}} </td>
    </tr>
    <tr>
        <td><b>Last name</b></td>
        <td>{{i.lastName}}</td>
    </tr>
    <tr>
        <td ><b>Contact</b></td>
        <td>{{i.contactNumber}}</td>
    </tr>
    <tr>
        <td><b>Email</b></td>
        <td>{{i.email}}</td>
    </tr>
</table>
<div class="btn-group" role="group" >
    <button type="button" class="nav-item nav-link-edit" [routerLink]="['']" class="btn btn-danger" (click)="logout()">Logout</button>
   </div>
</div>