<div class="container">
  <h2 style="text-align: center;">My Tweets</h2>             
  <table class="table table-bordered table-hover border-dark">
    <thead>
      <tr>
        <th style="width: 10%">Tweet ID</th>
        
        <th style="width: 25%">Tweet Message</th>
        <th style="width: 25%">Replies</th>
        <th style="width: 40%">More</th>
      </tr>
    </thead>
    <tbody *ngFor='let i of Mytweets'>
      <tr>
        <td>{{i.tweetId}}</td>
       
        <td>{{i.message}}</td>
        <td><ul *ngFor='let j of i.reply'>
          <li>{{j}}</li>
        </ul></td>
          <td>
            <button class="btn btn-primary" (click)="Like(i.tweetId)"> <i class="fa far fa-heart"></i> &nbsp; {{i.like}}</button>&nbsp;
          <button type="button" class="btn btn-warning" [routerLink]="['/edittweet',i.tweetId]"><i class="fa far fa-edit"></i></button>&nbsp;
          <button type="button" (click)="deletePost(i.tweetId)" class="btn btn-danger"><i class="fa fas fa-trash"></i></button>
          <form [formGroup]="ReplyTweet" class="form-inline">
            <input type="text" placeholder="Reply" id="myreply" formControlName="reply">
            <button type="button" class="btn btn-info" (click)="Reply(i.tweetId)"> <i class="fa fas fa-reply"></i></button>&nbsp;          
            </form>
          </td>
      </tr>
    </tbody>
  </table>
</div>