
  <br>
  <div class="btn-group" role="group" >
    <button type="button" class="nav-item nav-link-edit" [routerLink]="['viewallusers']" class="btn btn-info">View All Users</button>
  </div>
  <br><br>
  <div class="btn-group" role="group" >
   <button type="button" class="nav-item nav-link-edit" [routerLink]="['viewalltweets']" class="btn btn-info">View All Tweets</button>
  </div>
  <br><br>
  <div class="btn-group" role="group" >
    <button type="button" class="nav-item nav-link-edit" [routerLink]="['viewmytweets']" class="btn btn-info">View My Tweets</button>
   </div>
   <br><br>
   <div class="btn-group" role="group" >
    <button type="button" class="nav-item nav-link-edit" [routerLink]="['posttweet']" class="btn btn-primary">Post Tweet</button>
  </div>
  <br><br>
